<div class="app" *ngIf="show">
  <app-users
    *ngFor="let user of users; index as i"
    [name]="user.name"
    [age]="user.age"
    [status]="user.status"
    [salary]="user.salary"
    [img]="user.img"
    (myevent)="receivedData($event)"
    [title]="title"
  >
    <!-- content projection- passing html to child component -->
    <h2>{{title}}</h2>

    <!-- both ways working  -->
    <!-- <input type="text" [(ngModel)]="title"/> -->
    <input type="text" [value]="title" (input)="title=$any($event.target).value" />
  </app-users>
</div>
<button class="btn btn-danger" (click)="show = !show">Destroy Component</button>
